<!doctype html>
<html ng-app="monitor">
  <head>
    <title>Socket.IO Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <h1>Socket.IO Monitor</h1>
    <div class="socket-radar" ng-controller="radarController">
      <div class="radar-screen">
        <div class="ring ring-1"></div>
        <div class="ring ring-2"></div>
        <div class="ring ring-3"></div>
        <div class="ring ring-4"></div>
        <div class="ring ring-5"></div>
        <div class="ring ring-6"></div>
        <div class="bar" ng-class="{active: firstPongProcessed}"></div>
        <div class="origin">
          <socket-dot socket-id="socketId"
               socket-offset="layoutInfo.offset"
               socket-active="layoutInfo.active"
               ng-repeat="(socketId, layoutInfo) in monitoredSockets"></socket-dot>
        </div>
      </div>
    </div>
    <div class="data-tables" ng-controller="messagesController">
      <h3>Inbound Data</h3>
      <table class="table table-bordered table-condensed">
        <caption>Every message coming in.</caption>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Count</th>
        </tr>
        <tr ng-repeat="data in inboundData">
          <td>{{data.type}}</td>
          <td>{{data.name}}</td>
          <td>{{data.count}}</td>
        </tr>
      </table>
      <h3>Outbound Data</h3>
      <table class="table table-bordered table-condensed">
        <caption>Every message going out.</caption>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Count</th>
        </tr>
        <tr ng-repeat="data in outboundData">
          <td>{{data.type}}</td>
          <td>{{data.name}}</td>
          <td>{{data.count}}</td>
        </tr>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.angularjs.org/1.3.10/angular-route.js"></script>
    <script src="./app.js"></script>
    <script src="./controllers/radar_controller.js"></script>
    <script src="./controllers/messages_controller.js"></script>
    <script src="./directives/socket_dot.js"></script>
  </body>
</html>
